.style__titulo{
    font-size: 1.3rem;
    color: #888888;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.style__industrial, .style__modern, .style__classic{
    width: 80vw;
    margin-left: 2.3rem;

    opacity: 0.5;
}

.style__industrial--titulo, .style__modern--titulo, .style__classic--titulo{
    color: #FFFFFF;
    text-align: center;
    margin-top: -0.8rem;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);

    position: relative;
    bottom: 1rem;
}

@media screen and (min-width: 768px){
    .style__ttulo{
        font-size: 25px;
    }
}